  <footer class="p-10 footer bg-base-200 text-base-content footer-center">
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover">Le live</a>
      <a class="link link-hover">Le nuancier</a>
      <a class="link link-hover">Le laboratoire</a>
    </div>
    <div>
      <p>Copyright © 2022 - All right reserved by L'Aléatronome</p>
    </div>
  </footer>