<div class="hero min-h-screen bg-base-200">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            L' Aléatronome
          </h1>
      <p class="mb-5">
          Appel à résidence.
          Ouvert jusqu’au 1er mars 2022.
          Stéphanois.se,
          Nous proposons des temps d'antenne pour animer une émission sur notre future webradio !
          Musicien·ne , DJ, artiste, poète·sse, passionné·e de son ; peu importe ton âge ou ton expérience ; si tu es intéréssé·e , n'hésites pas à nous écrire.
          | 54bureau54@gmail.com |
          </p>
          <h2 id="countDown_id"></h2>
    </div>
  </div>
</div>
<div class="groupe-anim absolute bottom-1000 left-1000">
  <h2 class="animestart absolute bottom-1000 left-1000"></h2>
</div>
