@import "~tailwindcss/tailwind";

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

.animestart {
  height: 20px;
  width: 20px;
  border: solid blue;
  background-color: blueviolet;
}
.groupe-anim {
  height: 600px;
  width: 100%;
  margin: 10px;
  padding: 100px;
  border: solid brown;
}